<%- include('./partials/head') %>

    <div>
        <a class="btns" href="/login">
            <span>Voltar</span>
        </a>
        <a class="btn-right" href="/cadastro/funcionario">
            <span>Cadastrar Funcionário</span>
        </a>
    </div>

    <div class="cadastro-container">
        <h1>Cadastro Empresa</h1>
        <form id="cadastrarEmpForm" method="post" action="/cadastro/empresa">
            <!-- Lado esquerdo -->
            <div class="left">
                <label for="empresa">Nome da Empresa</label>
                <input type="text" id="empresa" name="nome_empresa" required>

                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cnpj_cpf" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>

            <!-- Lado direito -->
            <div class="right">
                <label for="razao-social">Razão Social</label>
                <input type="text" id="razao-social" name="razao_social" required>

                <label for="funcionarios">Quantidade de Funcionários</label>
                <input type="number" id="funcionarios" name="quantidade_funcionarios" required>

                <label for="confirm-email">Confirmar Email</label>
                <input type="email" id="confirm-email" name="confirm-email" required>

                <label for="confirm-senha">Confirmar Senha</label>
                <input type="password" id="confirm-senha" name="confirm-senha" required>
            </div>

            <!-- Botões no centro -->
            <div class="buttons">
                <a class="cancelar" href="/login">
                    <span id="cancelar">Cancelar</span>
                </a>
                <span class="none">INVISIVEL</span>
                <button type="submit" id="cadastrar">Cadastrar</button>
            </div>
        </form>
    </div>

    <div id="message" style="display: none;"></div>

    <%- include('./partials/footer') %>