<%- include('./partials/head') %>

<div class="botoes">
    <a class="btns" href="/">
        <span>Voltar</span>
    </a>
</div>

    <div class="login-container">
        <div class="logo-image">
            <img src="../img/logo.png" alt="Usuário">
            <h2>Escala Digital</h2>
            <h5>Simplificando o Tempo, Elevando a Qualidade de Vida</h5>
        </div>
        <form class="login-form">
            <input type="text" placeholder="Nome de usuário" required>

            <input type="password" placeholder="Senha" required>
            <div class="button-container">
                <a href="#">
                    <button id="entrar" type="submit" class="signup-button" style="margin-left: 40%;">Entrar</button>
                </a>
                <div>
                    <a href="/cadastro/empresa">
                        <span class="dir">Cadastrar-se</span>
                    </a>
                </div>
            </div>
        </form>
        <div class="signup-container">
            <a class="register-link" href="#">Esqueci a Senha</a>
        </div>
    </div>

    <%- include('./partials/footer') %>