<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Document</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sing-up-container"></div>
        <form action="#">
            <h1>Criar conta</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>Ou use seu email para se registrar</span>
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
        </form>
    </div>
</body>

</html>