<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/setor.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Setor:</h1>
    </header>
        <div>
            <table class="tabela">
                <tr>
                    <th>Nome</th>
                    <th>cargo</th>
                    <th>Horário</th>
                </tr>
                <tr>
                    <td>fulano 1</td>
                    <td>Supervisor</td>
                    <td>8h00 ás 17h00</td>
                </tr>
            </table>
        </div>
</body>

</html>