<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/setor.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="nSetor">
            <h1>Setor: Setor 1</h1>
        </div>
    </header>
    <div id="container">
        <table class="tabela">
            <tr>
                <th>Nome</th>
                <th>Horário</th>
                <th>Status de ponto</th>
            </tr>
            <tr>
                <td>fulano 1(var)</td>
                <td>15h00 ás 22h00 (var)</td>
                <td>1º ponto (Trabalhando) (var)</td>
            </tr>
            <tr>
                <td>fulano 2(var)</td>
                <td>11h00 ás 18h00 (var)</td>
                <td>1º ponto (Trabalhando) (var)</td>
            </tr><tr>
                <td>fulano 3(var)</td>
                <td>8h00 ás 17h00 (var)</td>
                <td>1º ponto (Trabalhando) (var)</td>
            </tr><tr>
                <td>fulano 4(var)</td>
                <td>13h00 ás 20h00 (var)</td>
                <td>1º ponto (Trabalhando) (var)</td>
            </tr>
        </table>
    </div>
</body>

</html>