body{
    background-color: #365b6d;
}
.nSetor{
    background-color: ivory;
    display: grid;
    place-content: center;
}
h1{
    font-size: 35px;
    margin: 0px;
}
p{
    font-size: 25px;
    margin: 0px;
}
#container{
    display: grid;
    place-items: center;
    margin-top: 30px;
}
.tabela{
    border: solid 5px black;
    border-radius: 5px;
    background-color: ivory;
}
.tabela th{
    font-size: 30px;
}
.tabela td{
    padding-right: 80px;
    font-size: 25px;
    border: double 3px #031c28;
}